body{
    text-align: center;
}
a{
    text-decoration: none;
    border: 1px;
    color: black;
    border-color: green;
}
.container{ 
    display:grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3,1fr);
    background-color:rgb(47, 210, 255);
    padding: 20px;
    gap:10px;
}

.card{
    border-radius: 10px;
    padding: 10px;
    text-align: center; 
    border: 1px solid rgb(0, 85, 255);
    
}

.card img{
    max-width: 150px;
}
#contBulb { 
    background-color: aqua;
}
#cardbul {
    background-color: chartreuse;
}
#contChar{
    background-color: #de5239;
}

#cardChar{
    background-color: #ffd508;
}

#contSq{
    background-color: #8bc5cd;
}

#cardSq{
    background-color: #cd7b29;
}
#contEvee{
    background-color: #f0b3f0;
}
#cardEvee{
    background-color: #f0b3f0;
}
#contPika{
    background-color:tomato;
}
#cardPika{
    background-color: yellow;
}
#contSnorlax{
    background-color: #8bc5cd;
}
#cardSnorlax{
    background-color: blue;
}